

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: auto;
    padding: auto;
}
a{
    all:none;
    text-decoration: none;
}
.container {
    margin: auto;
    max-width: 91.6em;
    /* border: 2px solid green; */
}



/* NAVBAR BEGINS */
#navbar{
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
    box-shadow: 1px 1px 20px black;
    height:100px;
    min-width: 91.6em;
    position: fixed;
    top: 50px; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.navbar_logo{
    background-image: url(https://knight-bite.com/res/kb_logo_new_2.png);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 40px;
    margin-inline: 50px;
}


.navbar_menu{
    margin-inline: 100px;
}
#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
#navbar li{
    font-size: 20px;
}

.navlielements a{
    text-decoration: none;
    color: whitesmoke;
}


.navlielements a:hover{
    color: aqua;
}


.activenav{
    border-bottom: 2px solid sandybrown;
    padding: 10px;
}

/*NAVBAR ENDS*/





#video_banner{
    width: inherit;
    position: relative;
    height: 850px;
}
.videoplayback{
    max-width:inherit;
    z-index: -1;
    position: absolute;
    /* height: 100vh; */
}
#text_on_video{
    height: inherit;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: aliceblue;
    text-transform: uppercase;
}

#text_on_video h1{
    font-size: 60px;
    font-weight: 700;
}

#text_on_video p{
    font-size: 40px;
}







#mission_and_vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 400px;
}


#mission_and_vision h2{
    font-size: 40px ;
}

#mission_and_vision p{
    font-size: 30px ;
    width: 50%;
    text-align: center;
}

















#key_benifits{
    display:flex;
    flex-direction: column;
    justify-content: centre;
    align-items: center;

}

.key_benifit_icon_box{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}


#key_benifit_text{
    font-size: 40px;
    font-weight: 700;
    margin-block: 20px;
}


#key_benifit_line_1{
    display: flex;
    justify-content: space-evenly;
}


#key_benifit_line_2{
    display: flex;
    justify-content: center;

}





.breaking_line{
    border: 2px solid plum;
    width: 80%;
}





#apply_here_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-block: 30px;
}


.ahsheading{
    font-size: 30px;
    font-weight: 600;
}

.ahspara{
    font-size: 20px;
}
.ahsimage{
    background-image: url(https://knight-bite.com/res/franchise/apply-grid.png);
    /* width: ; */
    height:600px;
    aspect-ratio: 1.5/1;
    background-position: center;
    background-size: cover;
}

.ahsbutton{
    background-color: #FF5672;
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 20px;
    color: white;
}



#franchise_queries_div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.fq_list_div{
display: flex;
align-items: center;
gap: 10px;
font-size: 20px;
}


.fq_icon_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.fq_list_icons{
    width: 40px;
}



#after_footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background:linear-gradient(90deg, #C77BF4 0%, #FF5672 100%);
}


/* FLOATING ELEMENT START */
#floating_element_1{
    width: 60px;
    height: 69px;
    background-color: #FF5672;
    background: url(https://imgs.search.brave.com/_Dhr8-fa2IBjUE1c-NwiLd0hYhsohdQzEk16o3-s0PY/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZy/ZWVwaWsuY29tLzI1/Ni85NTc2Lzk1NzY4/MjUucG5nP3NlbXQ9/YWlzX2h5YnJpZA);
    background-position: center;
    background-size: cover;
    position: fixed;
    right: 100px;
    bottom: 50px;
}
/* FLOATING ELEMENT END */